<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{tool.title}} v{{tool.version}}</li>
</ol>
<style>
  .time {
    font-family: monospace;
    padding: 50px 0;
    font-size: 10em;
  }

  .time small {
    color: #999;
    font-size: 0.8em;
  }
</style>
<div class="text-center time">
  <span id="hours">..</span>:<span id="minutes">..</span><small>:<span id="seconds">..</span></small>
</div>
