<header class="container">
  <nav class="navbar">
    <a ui-sref="app.home" class="navbar-header">
      <div class="navbar-brand">
        <i class="fa fa-wrench fa-fw"></i> Christos' Tools
        <small>v{{APP.version}}</small>
      </div>
    </a>
    <ul class="nav navbar-nav">

      <li uib-dropdown>
        <a href uib-dropdown-toggle>
            Tools
            <span class="caret"></span>
          </a>
        <ul class="uib-dropdown-menu">
          <li ng-repeat="tool in vm.tools">
            <a ui-sref="{{tool.state}}">
              <span class="fa fa-{{tool.icon}} fa-fw"></span>
              {{tool.title}}
              <small class="text-muted">v{{tool.version}}</small>
            </a>
          </li>
        </ul>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="app.about">About</a>
      </li>
    </ul>


  </nav>
</header>

<section ui-view class="container"></section>

<footer class="container text-center">
  <ul class="list-inline">
    <li>2016 Christos' Tools v{{APP.version}}</li>
    <li>By <a href="{{APP.author.url}}">{{APP.author.name}}</a></li>
    <li><a ui-sref="app.tos">TOS</a></li>
    <li><a href="{{APP.repository}}">GitHub</a></li>
  </ul>
</footer>
