<ol class="breadcrumb">
  <li><a ui-sref="app.home">Home</a></li>
  <li class="active">Earthquakes Map Explorer</li>
</ol>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <leaflet lf-center="vm.leaflet.center" paths="vm.leaflet.paths" markers="vm.leaflet.markers" height="450px" width="100%"></leaflet>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Quakes
        </h3>
      </div>
      <div class="list-group" style="overflow:auto;height:370px;">
        <a href ng-click="vm.visibles[feature.id] = !vm.visibles[feature.id]" class="list-group-item" ng-repeat="feature in vm.quakes.features">
          {{feature.properties.flynn_region}}<br>
          <small class="text-muted">{{feature.properties.time | date:'medium'}}</small>
          <dl class="dl-horizontal dl-horizontal-sm dl-nomargin" ng-show="vm.visibles[feature.id]">
            <hr/>
            <dt>Catalog</dt>
            <dd>{{feature.properties.source_catalog}}</dd>
            <dt>Coordin.</dt>
            <dd>{{feature.properties.lon}}, {{feature.properties.lat}}</dd>
            <dt>Depth</dt>
            <dd>{{feature.properties.depth}}</dd>
            <dt>Magnit.</dt>
            <dd>{{feature.properties.mag}} {{feature.properties.magtype}}</dd>
          </dl>
        </a>
      </div>
      <div class="panel-footer">Found {{vm.quakes.features.length}}</div>
    </div>
  </div>
</div>
